body {
	background-image: url(../assets/img/Bg/3.jpg);
}

#home nav {
	height: 80px;
}

#home a {
	padding-top: 2px;
}

#home input {
	color: pink;
	width: 150px;
}

#home button {
	margin: auto;
}

#nav nav {
	height: 70px;
	padding-left: 500px;
	padding-top: 10px;
}

#nav a {
	font-size: 20px;
	font-family: 'Pacifico', cursive;
}

#nav .li {
	padding-left: 290px;
}

#shop .row {
	padding-top: 80px;
}

#shop h1 {
	text-align: center;
}

#shop .btn {
	margin-left: 400px;
}

#newarrival {
	margin-top: 30px;
}

#newarrival h3 {
	font-family: 'Pacifico', cursive;
}

#newarrival .row {
	padding-top: 20px;
}

#newarrival1 {
	margin-top: 60px;
	margin-bottom: -70px;
	height: 40px;
}

#newarrival2 {
	margin-top: -30px;
	margin-bottom: 50px;
	height: 40px;
}

#newarrival1,
#newarrival2 h3 {
	padding-top: 20px;
}

#wanted {
	height: 350px;
	margin-top: 70px;
}

#wanted h3 {
	font-family: 'Lobster';
	padding-bottom: 20px;
	margin-top: 10px;
}

#wanted .row {
	height: 0;
}

#footer p {
	margin-left: 630px;
	font-size: 25px;
}